 <%= simple_form_for @course, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :name %>
  <%= f.association :Gender,:include_blank => t('.select_student') %>
  <%= f.association :instructor,:include_blank => t('.select_instructor') %>
  <%= f.input :description %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                courses_path, :class => 'btn' %>
  </div>
<% end %>
